.cards-list__item {
  display: none;
}

.cards-list__item--active {
  display: grid;
  grid-template-columns: 370px 1fr;
  column-gap: 100px;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 30px;
  }

  @media (max-width: 767px) {
    row-gap: 51px;
  }
}
