.contacts__wrapper {
  display: grid;

  @media (max-width: 1200px) {
    justify-content: end;
  }

  @media (max-width: 800px) {
    justify-content: start;
  }

  @media (max-width: 767px) {
    justify-content: center;
  }
}

.contacts .phone-icon {
  margin-right: 15px;
  stroke: $hawkes-blue;

  @media (max-width: 767px) {
    margin-right: 0;
  }
}

.contacts .phone__link {
  font-size: 16px;
  line-height: 32px;
  color: $light-red;
  text-decoration: underline;
}
