.footer__wrapper {
  padding-bottom: 74px;
  display: grid;
  grid-template-columns: 1fr 320px;
  column-gap: 65px;

  @media (max-width: 1200px) {
    display: block;
    padding-bottom: 54px;
  }

  @media (max-width: 767px) {
    padding-bottom: 26px;
  }
}

.footer__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 65px;

  @media (max-width: 1200px) {
    margin-bottom: 30px;
    column-gap: 61px;
    border-bottom: 1px solid $hawkes-blue;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 25px;
    margin-bottom: 23px;
  }
}

.footer__inner section {
  border-right: 1px solid $hawkes-blue;

  @media (max-width: 1200px) {
    &:last-child {
      border: none;
    }

    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    border: none;
    border-bottom: 1px solid $hawkes-blue;
    margin-bottom: 0;
    padding-bottom: 30px;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  color: $gray-of-black;
}

.footer__corporate {
  @media (max-width: 1200px) {
    text-align: center;
  }
}
