/*.page-main {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/bg-svg-desktop.svg");
    background-repeat: no-repeat;
    width: 1444px;
    height: 1089px;
    //z-index: -1;
  }
}
*/
