.page {
  height: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  box-sizing: border-box;
}

.page-body {
  min-height: 100%;
  max-width: 1920px;
  color: $gray-blue;
  background-color: $white;
  margin: 0 auto;
  padding: 0;

  @media (max-width: 1023px) {
    display: block;
  }
}

.page__container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: 1023px) {
    width: auto;
  }
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  display: block;
  box-sizing: border-box;
  padding: 30px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: $light-red;
  outline: none;

  &:hover {
    background-color: $light-scarlet;
  }

  &:active {
    background-color: rgba($light-scarlet, 0.7);
  }

  &:focus-visible {
    outline: 3px solid $light-scarlet;
    outline-offset: 3px;
    background-color: $light-scarlet;
  }

  @media (max-width: 1023px) {
    padding: 19px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    letter-spacing: 2;
  }
}

.title {
  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  margin: 0;

  @media (max-width: 1023px) {
    font-size: 30px;
    line-height: 45px;
    }
}
